* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(90deg,#002F52 35%,#326589 165%);
}

.App-header {
  background: #fff;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.opcoes {
  display: flex;
}

.opcao {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
  min-width: 120px;
}

.icones {
  display: flex;
  margin-left: 30px;
  align-items: center;
}

.icone {
  margin-right: 40px;
  width: 25px;
  margin-top: 10px;
}

li {
  list-style: none;
}
